{% extends 'base.html.twig' %}

{% block main_content %}
    {{ wo_render_breadcrumbs() }}
    <div class="article-short">

        {% block post_title %}<h4><b>{{ article.title }}</b></h4>{% endblock %}
        {% block createdAt %}<div class="created">Posted: {{ article.createdAt|date("d/m/Y") }}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="{{ path('article_like', {'id':article.id }) }}" class="ml-3"><i class="far fa-thumbs-up"></i> </a>{{ article.articleLikes|length }}
            {% endif %}
            </div> {% endblock %}
        {% block post_text %}<p>{{ article.text }}</p>{% endblock %}
    </div>

{% endblock %}

{% block commentsForm %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    {{ render(controller('App\\Controller\\Articles\\ArticlesController::commentNew', {'id': article.id} )) }}
    {% endif %}
{% endblock %}
    {% block comments %}
        {{ render(controller('App\\Controller\\Articles\\ArticlesController::commentsShow', {'id': article.id} )) }}
    {% endblock %}

{% block right_menu %}
    {{ render(controller('App\\Controller\\Category\\CategoryController::showAll')) }}


{% endblock %}
