{% extends 'base.html.twig' %}

 {% block main_content %}
     {{ wo_render_breadcrumbs() }}
     {% for article in articles %}
         <div class="article-short">
             {% block post_title %}<h4><b>{{ article.title }}</b></h4>{% endblock %}
             {% block createdAt %}<div class="created">Posted: {{ article.createdAt|date("d/m/Y") }}</div> {% endblock %}
             {% block post_text %}<p>{{ article.description }} </p>{% endblock %}
             <a href="{{ path('show_article', {'id': article.id}) }}" type="button" class="btn-custom">Read more</a>
         </div>


     {% endfor %}
     {% block pagination %}
         {{ knp_pagination_render(articles) }}
     {% endblock %}
 {% endblock %}


{% block right_menu %}

    {{ render(controller('App\\Controller\\Category\\CategoryController::showAll')) }}


{% endblock %}
