<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
        {% endblock %}
    </head>
    {% block body %}
    <body class="main">

    <div class="container">

        {#Header start#}
                <div class="row  header">
                    {% block header %}
                            <div class="col-md-3 logotype">{{ logoname }}</div>

                            <nav class="nav col-md-5 d-flex">
                                <a class="nav-link active p-2" href="{{ path('index') }}">Home</a>
                                <a class="nav-link mr-auto p-2" href="#">Authors</a>
                                <div class="form-inline">

                                    {{ render(controller('App\\Controller\\Search\\SearchController::searchAction')) }}

                                </div>
                            </nav>


                            <div class="col-md-4 d-flex justify-content-end">
                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                        <a class="nav-link p-2" title="Edit you profile" href="{{ path('userbio_edit',{'id':app.user.id }) }}">{{ app.user.username }}</a>
                                        <a class="nav-link  p-2" href="{{ path('logout') }}">Logout</a>

                                    {% else %}

                                            <a class="nav-link  p-2" href="{{ path('app_login') }}">Login</a>
                                            <a class="nav-link  p-2" href="{{ path('app_register') }}">Register</a>

                                    {% endif %}
                            </div>

                    {% endblock %}
                </div>
        {#Header end#}

        {#Content start#}
                <div class="row justify-content-center">

                        {#Main content start#}

                                <div class="col-md-10 main-content">
                                    {% block main_content %}


                                    {% endblock %}
                                    {% block commentsForm %}
                                    {% endblock %}
                                    {% block comments %}
                                    {% endblock %}
                                </div>
                        {#Main content end#}



                        {#Right menu start#}
                                <div class="col-md-2">
                                {% block right_menu %}
                                    {% endblock %}
                                </div>
                         {#Right menu  end#}

                </div>
         {#Content end#}


    </div>





    {% endblock %}
    {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
</html>
