<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
            <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        {% endblock %}
    </head>
    {% block body %}
    <body class="main">

    <div class="container">

        {#Header start#}
                <div class="row  header">
                    {% block header %}
                            <div class="col-md-3 logotype"><a href="{{ path('index') }}">{{ logoname }}</a> </div>

                            <nav class="nav col-md-5 d-flex">
                                <a class="nav-link active p-2 mr-4" href="{{ path('index') }}"><i class="fas fa-home mr-2"></i>Home</a>
                                <div class="form-inline">

                                    {{ render(controller('App\\Controller\\Search\\SearchController::searchFormRenderer')) }}

                                </div>
                            </nav>


                            <div class="col-md-4 d-flex justify-content-end">
                                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                        <a class="nav-link p-2" title="Edit you subscription" href="{{ path('subscribe_list',{'id':app.user.id }) }}"><i class="fas fa-rss-square"></i></a>
                                        <a class="nav-link p-2" title="Edit you profile" href="{{ path('userbio_edit',{'id':app.user.id }) }}"><i class="fas fa-user-astronaut mr-2"></i>{{ app.user.username }}</a>
                                        <a class="nav-link  p-2" href="{{ path('logout') }}"><i class="fas fa-sign-out-alt mr-2"></i>Logout</a>

                                    {% else %}

                                            <a class="nav-link  p-2" href="{{ path('app_login') }}"><i class="fas fa-sign-in-alt mr-2"></i>Login</a>
                                            <a class="nav-link  p-2" href="{{ path('app_register') }}"><i class="fas fa-fingerprint mr-2"></i>Register</a>

                                    {% endif %}
                            </div>

                    {% endblock %}
                </div>
        {#Header end#}

        {#Content start#}
                <div class="row justify-content-center">

                        {#Main content start#}

                                <div class="col-md-10 main-content">
                                    {% block main_content %}


                                    {% endblock %}
                                    {% block commentsForm %}
                                    {% endblock %}
                                    {% block comments %}
                                    {% endblock %}
                                </div>
                        {#Main content end#}



                        {#Right menu start#}
                                <div class="col-md-2">
                                {% block right_menu %}
                                    {% endblock %}
                                </div>
                         {#Right menu  end#}

                </div>
         {#Content end#}


    </div>





    {% endblock %}
    {% block javascripts %}{{ encore_entry_script_tags('app') }}{% endblock %}
    </body>
</html>
