{% block commentsForm %}
    <h4>Comments</h4>
    {{ form_start(form) }}
    {{ form_errors(form) }}
    <form>
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for= {{ form_widget(form.author) }} Name </label>
                <input  class="form-control" id="{{ form_widget(form.author) }}">
            </div>
            <div class="form-group col-md-12">
                <label for= {{ form_widget(form.body) }} Add your comment </label>
                <textarea class="form-control" id="{{ form_widget(form.body) }}"></textarea>
            </div>
        </div>


        <button type="submit" class="btn btn-primary pull-right" id= {{ form_widget(form.submit) }}</button>
    </form>
    {{ form_end(form) }}
{% endblock %}
